# Environment variable
.env
*.env

#Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#Build artifacts
*.egg-info/
build/
dist/

#Virtual environment
venv/
.venv/
.env/

#Local data
data/sample_pdfs/
data/**/*.pdf

#Logs and temp
logs/
*.log
tmp/

#Editor/OS files
.DS_Store
Thumbs.db
.vscode/
idea/

